<h1>作りたい食糧の材料</h1>
<form action="{% url 'food_list:results' %}" method="post">
  {% csrf_token %}
  <p>食べたいものを入力して下さい。</p>
  <input type="search" name="search1" placeholder="入力欄"><br>
  <input type="search" name="search2" placeholder="入力欄"><br>
  <input type="search" name="search3" placeholder="入力欄"><br>
  <input type="search" name="search4" placeholder="入力欄"><br>
  <input type="search" name="search5" placeholder="入力欄"><br>
  <input type="search" name="search6" placeholder="入力欄"><br>
  <input type="search" name="search7" placeholder="入力欄"><br>
  <input type="search" name="search8" placeholder="入力欄"><br>
  <input type="search" name="search9" placeholder="入力欄"><br>
  <input type="search" name="search10" placeholder="入力欄"><br>
  <input type="submit" name="submit" value="検索">
</form>
